body{
    height: 20vh;
}
a{
    color: white;
    text-decoration: none;
}

.container{
    height: 20vh;
    width: 100%;
    position: relative;
}

.navbar-items{
    margin: 100px;
    padding: 10px;
    height: 10vh;
    background-color: bgColor;
    position: sticky; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    
}

.navbar-links {
    
}

.sticky {
    top: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 1000;
   
    
  }