
body{
    background-color: black;
}

p{
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 600; 
    
}
.workshop_container{
    height: 200vh;
    margin: 20%;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img{
    width: 9.499rem;
    height: 2.533rem; 
    border-radius: 1.14rem; 
}

.workshop_head{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Inter', sans-serif;
    color: #D9D9D9; 
    font-size: 22.29px;
    font-style: normal;
    font-weight: 600; 
}

.workshop_name{
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    padding: 10%;
    
}


.workshop{
    display: flex;
    flex-direction: row;
    height: 13vh;
    background-color: black;
    align-items: center;
    border-bottom: 1.013px solid var(--Black-700, #282828); 
    
    
    
   
}



.collapse-button{
    height: 50px;
    width: 10%;
    background-color: black;
    border: none;
}



  
.collapse-content {

    color: white;
    position: absolute;
    height: auto;
    width: 60vw;
    margin-top: 10%; 
    display: flex;
    flex-direction: column;
    height: 10vh;
    background-color: aliceblue;
    padding: 5rem;
    
}



.knowmore{
    background-color: white;
    font-family: 'Inter', sans-serif;
    border-radius: 1.957rem;
    font-weight: 500;
    width: 10rem;
    height: 2rem;
}
  

@media (max-width: 768px) {

    .workshop{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}
